body {
    background-color: RGB(247, 9, 5, 0.1);
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

h1, h2{
    font-family: 'Hurricane', cursive;
}

header > img {
    display: block;
    width: 200px;
    height: auto;
}

li, a { 
    list-style: none;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    display: inline;
    transition: 300ms;
    border-radius: 5px;
}

a {
    background-color: beige;
    color: blueviolet;
}

a:hover {
    padding: 20px 30px 20px 30px;
    font-size: 1.5em;
}



video {
    display: absolute;
    top: 0px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-fit:cover;
}

#video {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    transition: 300ms;
}

#video img {
    position: absolute;
    top: 10%;
    
}

#video h1 {
    position: absolute;
    top: 50%;
    font-size: 8em;
    color: salmon;
}

main > section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:inherit;
    /* border: 1px solid black; */
    padding: 10px;

}

section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background: RGB(3, 16, 133, 0.1);
    transition: 300ms;
    border-radius: 5px;
}

section > article:hover {
    background-color: RGB(3, 16, 133, 0.2);
}

section > article:nth-child(2) {
    border-left: 2px solid green;
}

section > article:nth-child(3) {
    border-left: 2px solid green;
}

section > article:nth-child(4) {
    border-left: 2px solid green;
}

section > article:nth-child(5) {
    border-left: 2px solid green;
}

article > img { 
    height: 200px;
}

h2 {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

h3 {
    font-family: 'Bad Script', cursive;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
    color: green;
}

p {
    display: inline-block;
    font-family: 'Varela', sans-serif;
    color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: salmon;
}

footer > p {
    color: white;
}

/*Sales styles ////////////////////////////////////*/
table, thead, th, tr, td{
    border: 2px solid black;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin: auto;
}

td:first-child {
    background-color: RGB(247, 9, 5, 0.5);
}

th {
    background-color: RGB(79, 235, 40, 0.5);
}

th:last-child {
    background-color: RGB(40, 63, 235, 0.5);
}

td:last-child {
    background-color: RGB(40, 63, 235, 0.5);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

h1 {
    text-align: center;
    margin: auto;
}

#link { 
    text-align: center;
}

#locations {
    font-size: 3em;
}

